<div class="work">
  <div class="logo">
    <img src="../../../assets/img/logo sold.png" class="img" alt="logo">
    <p>every thing can be moved</p>
    <h3>Sign Up</h3>
  </div>
  <div class="reg">
    <div class="indiv">
      <a [routerLink]="['/register/individual']">
        <button>
          <div>
            <img src="../../../assets/img/individuals-sign_up.png" alt="Users">
          </div>
          Indivuals
        </button>
      </a>
    </div>
    <div class="com">
      <a [routerLink]="['']"  >
        <button>
          <div>
            <img src="../../../assets/img/store-sign-up.png" alt="Users">
          </div>
          Store
        </button>
      </a>
    </div>
  </div>
  <div class="login">
    <a routerLink="/login"><h5>Are you have an Account ?</h5></a>
  </div>
</div>