<footer>
  <div class="work">
    <div class="down">
        <h2>Download App</h2>
      <div class="btns">
        <button>AppStore</button>
        <button class="btn1">Google Play</button>
      </div>
    </div>

    <div class="social">
      <div class="accounts">
        <div class="facebook">
          <a href="https://www.facebook.com/profile.php?id=100025596875211"><i class="fa fa-facebook"></i></a>
        </div>
        <div class="insta">
          <a href=""><i class="fa fa-instagram"></i></a>
        </div>
        <div class="phone">
          <i class="fa fa-phone"></i>
        </div>
        <div class="number">
          <label>01117631429</label>
        </div>
      </div>
      <div class="pages">
      <a href="">Conditions</a><br>
      <a routerLink="/terms-conditions">Privacy</a><br>
      <a routerLink="/contect-us">Contact Us</a>
      </div>
    </div>
  </div>
</footer>