
footer{
  background: #f2f2f2;
}
.work{
  display: flex;
}
.down , .social{
  padding-top: 10%;
  margin-left: 10%;
  padding-bottom: 10%;
  width: 30%;
  text-align: center;
}
 .down h2{
  color: #0a0c61f2;
  font-size: 50px;
    margin-left: 7%;
    margin-bottom: 2%;
}
.btns{
  display: flex;
}
button{
  border-radius: 7px;
    background: white;
    border: 1px solid black;
    width: 50%;
    height: 50px;
    margin-right: 5%;
    font-size: 20px;
}
.btn1{
    background-color: #0a0c61f2;
    color: white;
    margin-right: 0;
}
.social{
  margin-left: 20%;
}
.accounts{
  margin-top: 5%;
  display: flex;
}
.facebook , .insta , .phone {
  background-color: #15157b;
  color: white;
  font-size: 20px;
  padding: 2%;
  border-radius: 31px;
  width: 45px;
  margin-right: 4%;
}
.accounts a{
  color: white;
}
.number{
  background-color: #f2f2f2;
    color: #15157b;
    font-size: 25px;
    margin-left: -3%;
    font-weight: bolder;
}
.pages{
  position: absolute;
  margin-top: 3%;
  text-align: left;
}
.pages a{
  text-decoration: none;
  color: #091250;
}