iframe{
  margin-top: 10%;
}
.row{
  margin-right: 0px;
}
.contactUs{
  margin-left: 10%;
  margin-top: 5%;
}
.contactUs h2{
  color: #172752;
  font-weight: bold;
  text-align: center;
  margin-left: 37%;
}
.contact{
  display: flex;
  margin-top: 100px;
}
.marker , .phone {
    width: 100%;
    padding: 10px;
    text-align: center;
    margin-right: 80px;
}
.mail{
  width: 100%;
  padding: 10px;
  text-align: center;
  margin-right: 0px;
}
 .ic{
    font-size: 60px;
    background-color: #080338;
    padding: 10px;
    color: white;
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
}
.sendMessage{
  height: 100%;
  width: 60%;
  margin-left: 20%;
  padding: 5%;
  display: flex;
}
.inputfield{
  margin-bottom: 40px;
  display: flex;
}
.inputfield input{
  margin-right: 50px;
  width: 17em;
  height: 3em;
  border-radius: 5px;
  border: 1px solid gray;
  padding-left: 10px;
}
.mess{
  margin-bottom: 40px;
}
textarea{
  padding-left: 10px;
  border-radius: 10px;
  width: 93%;
  height: 17em;
}
button{
  width: 93%;
}
table{
  width: 70%;
  margin-left: 20%;
}
p{
  color: red;
}