
nav{
  display: flex;
}
.logo{
  width: 100%;
  margin: 30% 50% 2% ;
}
.logo img{
  width: 100px;
}
.info{
  display: flex;
  position: absolute;
  top: 7%;
  right: 7%;
}
ul{
  list-style: none;
}
.ul{
  display: flex;
}
button{
  border: none;
  background-color: white;
}
i{
  padding: 13px 2px;
}
dialog{
  position: absolute;
    top: 70%;
    left: 50%;
  padding: 0.5rem 1.5rem;
  margin: .125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
  direction: rtl;
}
a{
  text-decoration: none;
  color: black;
}

