<app-nav></app-nav>
<div class="work">
  <div class="left" id="map">
    
  </div>
  <div class="right">
    <div class="intro">
      <h2>Calculate delivery</h2>
      <p>
        How much does it cost to charge in your city?<br>
        Calculate the fare estimate for your next delivery. Just you
        Select the vehicle type and enter the delivery location and destination to start
      </p>
    </div>
    <div class="form">
      <form (ngSubmit)="getDistance()">
        <div class="form-group">
          <select name="number" [(ngModel)]="number">
            <option value="1">Single</option>
            <option value="2">Two</option>
            <option value="3">More</option>
          </select>
        </div>
        <div class="cars">
          <div class="truck">
            <img src="../../../assets/img/truck-new.png" alt="">
            <h5>Truck</h5>
            <input type="radio" name="car" [(ngModel)]="car" value="100">
          </div>
          <div class="semi">
            <img src="../../../assets/img/semi-truck-new.png" alt="">
            <h5>Semi</h5>
            <input type="radio" name="car" [(ngModel)]="car" value="50">
          </div>
          <div class="van">
            <img src="../../../assets/img/van-new.png" alt="">
            <h5>Van</h5>
            <input type="radio" name="car" [(ngModel)]="car" value="25">
          </div>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="From" name="from" [(ngModel)]="from">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="To" name="to"  [(ngModel)]="to">
        </div>
        <div class="form-group">
          <button class="form-control btn" type="submit" [disabled]="!car || !number || !to || !from" >Calculate</button>
        </div>
      </form>
    </div>
    <div class="info" *ngIf="show && dist">
      <p>The distance between {{from}}, {{to}}: <span>{{dist}} km</span>  <br>
        Time take to travel: <span>1 hour 42 mins</span></p>
        <p>Charge to be paid: <span>EGP {{price}}</span></p>
    </div>
    <div class="info" *ngIf="network && !dist">
      <h3>{{network}}</h3>
    </div>
    <div class="wating" *ngIf="wait">
      <div class="loading">
        <span>loading... </span>
      </div>
    </div>

  </div>
</div>
<app-footer></app-footer>


<script>
  function initMap(){
    var directionsService = new google.maps.DirectionsService;  
    var directionsDisplay = new google.maps.DirectionsDisplay;
    var map = new google.map.maps(document.getElementById('map'),{
      zoom: 7,
      center:{lat:41.85 , lng:-87.65}
    });
    directionsDisplay.setMap(map);
    var onChanageHandler= function(){
      calculateAndDisplayRoute(directionsService, directionsDisplay);
    };
    document.getElementById('from').addEventListener('change', onChanageHandler);
    document.getElementById('to').addEventListener('change', onChanageHandler);
  }
  function calculateAndDisplayRoute(directionsService , directionsDisplay){
    directionsService.route({
      origin:document.getElementById('from').value,
      destination: document.getElementById('to').value,
      travleMode: 'DRIVING'
    },
    function(response , status){
      if(status === 'OK'){
        DirectionsDisplay.setDirections(response);
      }else{
        window.alert('Directions request faild to '+status);
      }
    });
  }
</script>
<script async defer src="http://www.mapquestapi.com/directions/v2/route?key=jO7091FNjRbzA3O9EA7AZD3mt2WRiozb&callback=initMap">
</script>