.work{
  display: flex;
  margin-top: 10%;
  height: 100%;
}
.left{
  /* background-color: red; */
  width: 100%;
  height: 92vh;
}
.right{
  background-color: #f2f2f2;
  width: 100%;
}
.intro{
  margin-left: 10%;
  margin-top: 5%;
  width: 65%;
}
.intro h2{
  color: #0b0b5a;
  font-size: 49px;
  font-weight: bold;
}
.form{
  margin-left: 10%;
  margin-top: 5%;
  width: 70%; 
}
select{
  width: 100%;
    height: 36px;
    border: none;
    border-radius: 3px;
    padding-left: 10px;
}
.cars{
  display: flex;
}
.truck , .semi , .van{
  text-align: center;
  margin-right: 75px;
}
input[type="radio"]{
  margin-left: 18px;
}
.btn{
  background-color: #18185f;
  color: white;
}
.info{
  margin-left: 10%;
  margin-top: 5%;
  width: 80%;
}
span{
  font-weight: bold;
}
h1{
  margin-left: 10%;
}
.wating{
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}
.loading{
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  border-radius: 50%;
  border-top: 10px solid #e74c3c;
  position: relative;
  animation: a1 2s linear infinite;
}
.loading::before,.loading::after{
  content: '';
  width: 100px;
  height: 100px;
  position: absolute;
  left: 0;  
  top: -10px;
  box-sizing: border-box;
  border-radius: 50%;
}
.loading::before{
  border-top: 10px solid #e67e22;
  transform: rotate(120deg);
}
.loading::after{
  border-top: 10px solid #3498db;
  transform: rotate(270deg);
}
.loading span{
  position: absolute;
  width: 100px;
  height: 100px;
  color: black;
  text-align: center;
  line-height: 100px;
  animation: a2 2s linear infinite;
}
@keyframes a1{
  to{
    transform: rotate(360deg);
  }
}
@keyframes a2{
  to{
    transform: rotate(-360deg);
  }
}
.info h3{
  color: crimson;
  font-style: italic;
  font-family: monospace;
}