nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  height: 20%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  overflow: hidden;
  background-color: #333;
  height: 60px;
  position: fixed;
  left: 60%;
  top:3%;
  width: 100%;
  display: flex;
}
img{
  width: 20%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #666;
}
a:hover{
  text-decoration: none;
}
.right{
  float: right;
  margin-right: 20px;
}
.company{
    margin-left: 25px;
    color: white;
    margin-top: 7px;
}
.active{
  background-color: black;
}