<div class="page">
  <div class="main">
    <app-main-nav></app-main-nav>
  <div class="work">
   <div class="things">
     <div class="myaccount">
       <a routerLink="/{{user.username}}">
        <i class="fa fa-file"></i><br>
        My Account
      </a>
      </div>
     <div class="order active">
        <a routerLink="">
         <i class="fa fa-truck"></i><br>
         Order Now
       </a>
     </div>
     <div class="myorders">
      <a routerLink="#">
        <i class="fa fa-table"></i><br>
        My Orders
      </a>
     </div>
   </div>
  </div>
  </div>
</div>